# Ambiente Virtual
.venv/
env/

# Arquivos de Configuração de IDEs
.idea/
.vscode/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos de Sistema
.DS_Store

# Arquivos de Configuração Sensíveis
.env

# Arquivos de Build do Front-End
node_modules/
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
